/* ----------header------------------------------------- */
.header {
  background-color: #282c34;
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* ----------header-------------------------------------- */
/* ----------------------sidebar ----------------------*/
.secondaryColor {
  color: #ba1f31;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}

a:hover {
  color: #ba1f31;
  transition: ease-in 0.25s;
}

.sidebar {
  background-color: #282c34;
  color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
  padding: 10px;
  width: 200px;
  font-size: 25px;
}

/* .topics:hover {
  background-color: #ba1f31;
} */

/* ----------------------sidebar ----------------------*/

/* --------article card------------------------------- */

.articleCard {
  width: calc(100% - 300px);
  margin: 20px;
  margin-left: 15px;
  padding: 20px;
  background-color: #c3ceecd8;
  border: 1px solid #282c346e;
  box-shadow: 3px 3px 10px;
}

#buffer {
  height: 150px;
}

.articleCard:hover {
  border: 1.5px solid #282c34;
  box-shadow: 1px 1px 3px;
}

#user {
  color: #da1c32;
  margin: 0px;
  padding-right: 0;
  width: 50%;
}

#title {
  color: #282c34;
  margin: 0px;
  padding-right: 0;
  width: 50%;
}

#bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
